<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand m-2" href="#">Cash Boomerang</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your Profile</a>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown">
            <button class="dropdownMenuButton btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lists
            </button>            
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">List 1</a>
            <a class="dropdown-item" href="#">List 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Welcome!</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="containerHomePage">
      <div class="row">
          <div class="col.lg-4">
              <img class="rounded-circle" src="https://media.istockphoto.com/vectors/black-plus-sign-positive-symbol-vector-id688550958?k=20&m=688550958&s=612x612&w=0&h=wvzUqT3u3feYygOXg3GB9pYBbqIsyu_xpvfTX-6HOd0=" alt="plus sign" width="140" height="140">
              <h2>Create a new list</h2>
              <p>Add your friends and share expenses!</p>
              <p>
                  <a class="btn btn-secondary" href="#" role="button">View details</a>
              </p>
          </div>
          <div class="col.lg-4">
              <img class="rounded-circle" src="https://media.istockphoto.com/vectors/loupe-sign-icon-in-transparent-style-magnifier-vector-illustration-on-vector-id1151843591?k=20&m=1151843591&s=612x612&w=0&h=RMLNqtHRX2GA5iO6ru8xGbAN8giVDeztuT0OUj4bRvM=" alt="magnifying glass" width="140" height="140">
              <h2>Balance</h2>
              <p>See what lists are pending clearance.</p>
              <p>
                  <a class="btn btn-secondary" href="#" role="button">View details</a>
              </p>
          </div>
          <div class="col.lg-4">
              <img class="rounded-circle" src="https://images.cdn3.stockunlimited.net/clipart/money-bag_1555105.jpg" alt="magnifying glass" width="140" height="140">
              <h2>Pay up</h2>
              <p>See who owes you money.</p>
              <p>
                  <a class="btn btn-secondary" href="#" role="button">View details</a>
              </p>
          </div>
      </div>
  </div>