    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand m-2" href="#">Cash Boomerang</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
    </div>
  </nav>
   <br>
   <div p-4>
    <h2 class="text-center">Login</h2> <!--List name to be pulled from page 3-->
   </div>  
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="email@example Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button>   
            <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>   
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>     